body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    background-image: url(/images/fondomadrid.jpg);
}
.card-premium {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    background-color: #fff;
}
.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
}
.small-text {
    font-size: 0.9rem;
    color: #6c757d;
    margin-bottom: 15px;
}
.btn-buy {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}
.btn-buy:hover {
    background-color: #0056b3;
}
.includes {
    text-align: left;
    padding-left: 0;
    margin-top: 10px;
}
.includes li {
    list-style: none;
    color: black;
    margin-bottom: 5px;
}